@font-face {
    font-family: Karla;
    src: url(fonts/Karla/Karla-VariableFont_wght.ttf);
}

@layer os-based-color-scheme {
    @media screen and (prefers-color-scheme: light) {
        :root {
            --background: #ecfdf5;
            --foreground: #2b283a;
            --secondary-background: #d5ffeb;
            --accent: #10b981;
            --hover-background-highlight: #a2fff3d1;
            --hover-foreground-highlight: #10b981;
            --tagline: #6b7280;
            --border: #d5d4d8;
            --button-background: #10b981;
            --button-foreground: #ffffff;
            --password-field-background: #273549;
            --password-field-foreground: #10b981;
            --checked-toggle-background: #10b981;
            --unchecked-toggle-background: #6b7280;
        }
    }

    @media screen and (prefers-color-scheme: dark) {
        :root {
            --background: #1f2937;
            --foreground: #ffffff;
            --secondary-background: #273549;
            --accent: #4adf86;
            --hover-background-highlight: #a2fff3d1;
            --hover-foreground-highlight: #1f2937;
            --tagline: #d5d4d8;
            --border: #57749c;
            --button-background: #10b981;
            --button-foreground: #ffffff;
            --password-field-background: #273549;
            --password-field-foreground: #10b981;
            --checked-toggle-background: #10b981;
            --unchecked-toggle-background: #6b7280;
        }
    }
}

:root[data-theme="light"] {
    --background: #ecfdf5;
    --foreground: #2b283a;
    --secondary-background: #d5ffeb;
    --accent: #10b981;
    --hover-background-highlight: #a2fff3d1;
    --hover-foreground-highlight: #10b981;
    --tagline: #6b7280;
    --border: #d5d4d8;
    --button-background: #10b981;
    --button-foreground: #ffffff;
    --password-field-background: #273549;
    --password-field-foreground: #10b981;
    --checked-toggle-background: #10b981;
    --unchecked-toggle-background: #6b7280;
}

:root[data-theme="dark"] {
    --background: #1f2937;
    --foreground: #ffffff;
    --secondary-background: #273549;
    --accent: #4adf86;
    --hover-background-highlight: #a2fff3d1;
    --hover-foreground-highlight: #1f2937;
    --tagline: #d5d4d8;
    --border: #57749c;
    --button-background: #10b981;
    --button-foreground: #ffffff;
    --password-field-background: #273549;
    --password-field-foreground: #10b981;
    --checked-toggle-background: #10b981;
    --unchecked-toggle-background: #6b7280;
}

* {
    box-sizing: border-box;
}

:root {
    /* font-size: 1.3em; */
}

body {
    font-family: Karla;
    background: var(--background);
    margin: 0;
}

#website-settings-floating-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.26rem;
    position: fixed;
    inset-block-start: 1rem;
    inset-inline-end: 1rem;
    z-index: 1;
    padding: 0.26rem;
    border: 2px solid var(--border);
    border-radius: 5px;
    box-shadow: 0 0 3px #000000;
    background: var(--secondary-background);
}

.setting-button {
    block-size: 2.08rem;
    inline-size: 2.08rem;
    border-radius: 5px;
    border: none;
    position: relative;
    background: var(--secondary-background);
    color: var(--accent);
    display: flex;
    align-items: center;
}

.setting-button:hover {
    background: var(--hover-background-highlight);
    color: var(--hover-foreground-highlight);
}

.setting-button-icon {
    --ionicon-stroke-width: 3rem;
    inline-size: 100%;
    font-size: 1.3em;
}

.setting-options-container {
    flex-direction: column;
    gap: 0.26rem;
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: calc(2.34rem + 4px);
    inline-size: max-content;
    padding: 0rem;
    border: 2px solid var(--border);
    margin: 0;
    border-radius: 5px;
    background: var(--secondary-background);
    box-shadow: 0 0 3px #000000;
    text-align: left;
    list-style: none;
    color: var(--foreground);
}

.setting-option {
    padding: 0.26rem 0.52rem;
    display: flex;
    gap: 0.26rem;
    font-size: 1.3em;
}

.setting-option:hover {
    background: var(--hover-background-highlight);
    color: var(--hover-foreground-highlight);
}

.setting-option:first-child {
    border-radius: 5px 5px 0 0;
}

.setting-option:last-child {
    border-radius: 0 0 5px 5px;
}

#main-container {
    max-inline-size: calc(100vh * 0.6);
    margin-inline: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

hgroup {
    display: flex;
    flex-direction: column;
    gap: 0.78rem;
}

h1 {
    font-size: 3.25rem;
    font-weight: 800;
    margin: 0;
    line-height: 1;
    color: var(--foreground);
}

.highlight {
    color: var(--accent);
}

#tagline {
    color: var(--tagline);
    margin: 0;
    font-size: 1.3rem;
}

#generate-password-button {
    color: var(--button-foreground);
    background: var(--button-background);
    border: 0;
    font-weight: 500;
    padding: 0.65rem 1.3rem;
    border-radius: 6px;
    font-size: 1.3rem;
}

.output-field-container {
    border-block: 1px solid var(--border);
    padding-block: 3rem;
}

#password-output {
    display: block;
    word-break: break-all;
    min-block-size: 3.12rem;
    line-height: 3.12rem;
    inline-size: 100%;
    background: var(--password-field-background);
    border-radius: 6px;
    color: var(--password-field-foreground);
    text-align: center;
    padding-inline: 0.65rem;
    font-size: 1.3rem;
}

#options-container {
    border-radius: 1rem;
    border: 2px solid var(--border);
    color: var(--foreground);
    background: var(--secondary-background);
    font-size: 1.3rem;
}

#length {
    font-size: 1.3rem;
}

#password-composition-settings-container {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.setting-container {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.toggle {
    font-size: 0.91rem;
    position: relative;
    display: inline-block;
    block-size: 2em;
    inline-size: 4em;
}

.toggle input {
    block-size: 0;
    inline-size: 0;
    opacity: 0;
}

.slider {
    position: absolute;
    inset: 0;
    cursor: pointer;
    background: var(--unchecked-toggle-background);
    border-radius: 1em;
    transition: 300ms;
}

.slider::before {
    position: absolute;
    content: "";
    background: #ffffff;
    block-size: 1.4em;
    inline-size: 1.4em;
    left: 0.3em;
    bottom: 0.3em;
    border-radius: 50%;
    transition: 300ms;
}

.toggle input:checked + .slider {
    background-color: var(--checked-toggle-background);
}

.toggle input:checked + .slider::before {
    transform: translateX(2em);
}

@layer initial-render {
    .setting-options-container {
        display: none;
    }
}

@layer post-initial-render {
    .setting-options-container.visible {
        display: flex;
    }
}